body {
 
  background-color: #000;
}

.video_background { 
	position: absolute; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}


.txth1 {
	color: #fff;
	margin:0;
	padding: 0;
	line-height: 1.2;


}
.txth2 {
	color: #fff;
	margin:0;
	padding: 0;
	line-height: 1.2;
	font-weight: 1;


}
.txth3 {
	color: #ffc92d;
	margin:0;
	padding: 0;
	line-height: 1.2;

}

.header1{
	
  	background: url('../img/Banner1.jpg') no-repeat center center fixed ;
  	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}

.footer1 {
	
  	background: url('../img/footer.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 40rem;

}